$primary: #064ea4;
$secondary: #fcdf69;
$warning: #f99d76;

$btn-border-radius: 30px;
$btn-font-weight: 700;

$body-emphasis-color: #1a1a1a;
$primary-bg-subtle: #d7e7fb;

$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.125;
$h2-font-size: $font-size-base * 3.5;
$h3-font-size: $font-size-base * 1.875;

$headings-font-weight: 700;
$headings-line-height: 1.5;
$headings-color: $primary;
