@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand {
  color: $primary;
  font-weight: 700;

  &:hover,
  &:focus {
    color: darken($primary, 10%);
  }
}

.nav-link,
.dropdown-item {
  color: $body-emphasis-color;

  &:hover,
  &:focus {
    color: darken($body-emphasis-color, 15%);
  }
}

h1,
h2,
h3 {
  letter-spacing: -1px;
}

h3 {
  line-height: 1;
}

.btn-primary,
.btn-secondary,
.btn-warning {
  color: #451b09;
}

.form-control::placeholder {
  color: #aaaaaa;
}

.w-max {
  width: max-content;
}
