@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand {
  color: $primary;
  font-weight: 700;

  &:hover,
  &:focus {
    color: darken($primary, 10%);
  }
}
